<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>19/06/16 16:10:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/06/16 16:10:48</td>   <td>6184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/06/16 16:10:35</td>   <td>-7223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>19/06/16 16:10:42</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/06/16 16:10:40</td>   <td>-2691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">loginAndLogout</td> 
  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/06/16 16:10:46</td>   <td>3915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">loginAndLogout</td> 
  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/06/16 16:10:35</td>   <td>-7660</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/06/16 16:10:35</td>   <td>-7782</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/06/16 16:10:35</td>   <td>-7772</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/06/16 16:10:34</td>   <td>-8192</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>19/06/16 16:10:49</td>   <td>6256</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/06/16 16:10:49</td>   <td>6226</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC001_LoginAndLogout@57536d79]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2097514481</td>   <td></td> </tr>
</table>
